<footer>
    <div>
        By @hilmanski /
        <a target="_blank" class="link" href="https://hilman.space">Blog</a> /
        <a target="_blank" class="link" href="http://eepurl.com/gDX5-D">Subscribe</a>
    </div>

    <div>
        <a href="https://www.instagram.com/hilmanski/"> <img src="/img/ig.png" alt="logo instagram" width="30"> </a>
        <a href="https://www.twitter.com/tehataukopi/"> <img src="/img/tw.png" alt="logo twitter" width="30"> </a>
        <a href="https://www.facebook.com/tehataukopi/"> <img src="/img/fb.png" alt="logo facebook" width="30"> </a>
    </div>
</footer>