<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .Title }}</title>
    <meta name="description" content="{{ if .Description }} {{ .Description }} {{ else }} {{ .Site.Params.Description }} - {{ .Title }} {{ end }}" property="og:description">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@tehataukopi" />
    <meta name="twitter:creator" content="@tehataukopi" />
    <meta property="og:url" content=" {{ .Permalink }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ if .Description }} {{ .Description }} {{ else }} {{ .Site.Params.Description }} - {{ .Title }} {{ end }}" />
    <meta property="og:image" content="/img/logo.png" />

    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/"><img src="/img/logo.png" alt="logo tehataukopi" height="80" width="80" class="is-avatar"></a>
        <div>
            <h1>TehAtauKopi</h1>
            <h2>Heart, Attitude & Impact</h2>
        </div>
    </header>
